html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    background-color: black;
}
#canvas{
    height: 100%;
    width: 100%;
    position: absolute;
}
h3{
    z-index: 10;
    position: absolute;
    bottom: 7%;
    right: 8%;
    font-size: 2.5em;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aqua;
    text-shadow: 5px 5px 10px lightcoral;
    opacity: 0.4;
}
audio{
    bottom: 4%;
    right: 3%;
    position: absolute;
    color: grey;
    border: 2px black solid;
    border-radius: 50%;
    overflow: hidden;
    z-index: 12;
    opacity: 0.2;
    width: 15%;
}